<%- include('partials/header') %>

<script>
  $("#navbarCollapse > ul > li:nth-child(1)").addClass("active");
</script>

<div class="container-fluid index-spacing">
  <div class="row">
    <div class="col-lg-6">
      <table class="today-table">
        <colgroup>
          <col span="1" style="width: 65%" />
          <col span="1" style="width: 20%" />
          <col span="1" style="width: 15%" />
        </colgroup>
        <thead>
          <tr>
            <th class="today-title today-bigger-headings">Today's Tasks</th>
            <th class="today-title today-smaller-headings">Type</th>
            <th class="today-title today-smaller-headings">End Date</th>
          </tr>
        </thead>
        <tbody class='task-table-body'>
        </tbody>
      </table>
    </div>
    <div class="col-lg-1"></div>
    <div id="open-weather" class="col-lg-5 col-sm-12 weather">
      <p class="today-bigger-headings today-title weather-title">Today's Weather</p>
      <div class="weather-search">
        <input type="text" class="weather-txt-area" maxlength="30"  size="25" placeholder="City, State Abbrev">
        <button onclick="getWeather()" class="btn btn-primary weather-search-btn">Search</button>
        <br>
        <br>
        <table class="weather-table">
          <tbody class="weather-display"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>


<!-- Populates the table body with today's tasks
 -------------------------------------------------->
 <script>
  const htmlText = `<%- htmlText %>`;
  const taskTable = document.querySelector('.task-table-body');
  taskTable.innerHTML = '';
  taskTable.innerHTML = htmlText;
</script>


<!-- Edit Task Modal 
    -------------------------------------------------->
<div
  id="editTaskModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<script>
  $(".edit-modal").on("click", function (e) {
    e.preventDefault();
    $("#editTaskModal")
      .modal("show")
      .find(".modal-content")
      .load($(this).attr("onclick"));
  });
</script>

<!-- Weather API
  -------------------------------------------------->
<script>
  const weatherDisplay = document.querySelector(".weather-display");
  const locationInput = document.querySelector(".weather-txt-area");
  const weatherSearchBtn = document.querySelector(".weather-search-btn");

  locationInput.addEventListener("keydown", e => {
    if(e.code === "Enter") {
      weatherSearchBtn.click();
    }
  })

  const getWeather = function() {
    if (!locationInput.value.includes(",")) {
      const errorText = document.createElement('p');
      errorText.style.color = "darkred";
      errorText.innerHTML = 'Invalid location; please enter "City, State Abbrev."';
      weatherDisplay.appendChild(errorText);
      locationInput.value = "";
      return;
    }

    const [cityInput, stateInput] = locationInput.value.split(",");
    const city = cityInput.trim();
    const state = stateInput.trim();
    const weatherData = { 'weatherLocation': `${city},US-${state}` };

    $.ajax({
    type:"POST",
    url: "/weather/",
    data: weatherData,
    dataType: "json",
    success: function (result) {
      weatherDisplay.innerHTML = result.weatherHtml;
      locationInput.value = "";
    }
    });
  }
</script>