<%- include('partials/header') %>

<div class="container-fluid index-spacing">
    <div class="row">
      <div class="col-lg-6">
          <h5 class="error-text">Unauthorized Access</h5>
    </div>
  </div>
</div>

<%- include('partials/footer') %>