<%- include('partials/header') %>

<div class="container-fluid index-spacing">
    <div class="row">
      <div class="col-lg-6">
          <h4 style="color:firebrick">Unauthorized Access</h4>
    </div>
  </div>
</div>

<%- include('partials/footer') %>