<%- include('partials/header') %>

<script> $("#navbarCollapse > ul > li:nth-child(2)").addClass("active") </script>

<div class="container page-starter">
    <div class="row">
        <div class="col-lg-12">
            <a href="./tasks" class="add-task-button btn btn-success">View Active</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="scrollable-table col-lg-12">
    <table class="col-lg-12 task-table">
        <colgroup>
            <col span="1" style="width: 51%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 3%;">
        </colgroup>
        <thead>
        <tr>
            <th>Task Title</th>
            <th>Task Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Completed Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="task-table-body">
        </tbody>
    </table>
    </div>
</div>

<%- include('partials/footer') %>

<script>
  const htmlText = `<%- htmlText %>`;
  const taskTable = document.querySelector('.task-table-body');
  taskTable.innerHTML = '';
  taskTable.innerHTML = htmlText;
</script>

<!-- Edit Completed Task Modal 
 -------------------------------------------------->
<div id="editCompletedTaskModal" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
<script>
$('.edit-completed-modal').on('click', function(e){
      e.preventDefault();
      $('#editCompletedTaskModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
</script>